@model IEnumerable<View.Models.Response.StudySlotDto>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "StudySlots";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section DayCheckBoxStyles {
    <link rel="stylesheet" href="~/css/DayCheckBoxStyles.css" />
}
@section TimePickerStyles {
    <link rel="stylesheet" href="~/css/TimePickerStyles.css" />
}
<partial name="_Notification" />
<div class="modal fade overflow-auto" id="myModal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select Days</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="StudySlots" method="post" id="study-slots">
                    <div class="mb-2 text-start d-flex flex-row  align-items-center justify-content-center">
                        <div class="mx-2">
                            <p>Start time:</p>
                            <input type="time" id="start" name="start">
                        </div>
                        <div class="mx-2">
                            <p>End time:<p />
                            <input type="time" id="end" name="end">
                        </div>
                    </div>
                    <!-- Include the provided section inside the modal body -->
                    <section>
                        <div class="tile">
                            <input class="day-checkbox" type="checkbox" name="days" id="monday" value="1">
                            <label for="monday">
                                <img src="~/images/Weekdays/Monday.jpg" width="100" />
                                <span>Monday</span>
                            </label>
                        </div>
                        <div class="tile">
                            <input class="day-checkbox" type="checkbox" name="days" id="tuesday" value="2">
                            <label for="tuesday">
                                <img src="~/images/Weekdays/Tuesday.jpg" width="100" />
                                <span>Tuesday</span>
                            </label>
                        </div>
                        <div class="tile">
                            <input class="day-checkbox" type="checkbox" name="days" id="wednesday" value="3">
                            <label for="wednesday">
                                <img src="~/images/Weekdays/Wednesday.jpg" width="100" />
                                <span>Wednesday</span>
                            </label>
                        </div>
                        <div class="tile">
                            <input class="day-checkbox" type="checkbox" name="days" id="thursday" value="4">
                            <label for="thursday">
                                <img src="~/images/Weekdays/Thursday.jpg" width="100" />
                                <span>Thursday</span>
                            </label>
                        </div>
                        <div class="tile">
                            <input class="day-checkbox" type="checkbox" name="days" id="friday" value="5">
                            <label for="friday">
                                <img src="~/images/Weekdays/Friday.jpg" width="100" />
                                <span>Friday</span>
                            </label>
                        </div>
                        <div class="tile">
                            <input class="day-checkbox" type="checkbox" name="days" id="saturday" value="6">
                            <label for="saturday">
                                <img src="~/images/Weekdays/Saturday.jpg" width="100" />
                                <span>Saturday</span>
                            </label>
                        </div>
                        <div class="tile">
                            <input class="day-checkbox" type="checkbox" name="days" id="sunday" value="7">
                            <label for="sunday">
                                <img src="~/images/Weekdays/Sunday.jpg" width="100" />
                                <span>Sunday</span>
                            </label>
                        </div>
                    </section>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="study-slots">Save slot</button>
            </div>

        </div>
    </div>
</div>
<div class="col-12">
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Manage Slots
                    </h1>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <button class="btn btn-outline-info m-b-10" data-toggle="modal" data-target="#myModal">Add new slot</button>
    <!-- The Modal -->

    <div class="modal fade overflow-auto" id="updateModal" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Slot</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form asp-controller="Admin" asp-action="UpdateSlot" method="post" id="update-slot">
                        <input type="hidden" name="slotId" id="slotId" />
                        <div class="mb-2 text-start d-flex flex-row  align-items-center justify-content-center">
                            <div class="mx-2">
                                <p>Start time:</p>
                                <input type="time" id="start" name="start">
                            </div>
                            <div class="mx-2">
                                <p>End time:<p />
                                <input type="time" id="end" name="end">
                            </div>
                        </div>
                        <!-- Include the provided section inside the modal body -->
                        <section>
                            <div class="tile">
                                <input class="day-checkbox" type="checkbox" name="days" id="monday" value="1">
                                <label for="monday">
                                    <img src="~/images/Weekdays/Monday.jpg" width="100" />
                                    <span>Monday</span>
                                </label>
                            </div>
                            <div class="tile">
                                <input class="day-checkbox" type="checkbox" name="days" id="tuesday" value="2">
                                <label for="tuesday">
                                    <img src="~/images/Weekdays/Tuesday.jpg" width="100" />
                                    <span>Tuesday</span>
                                </label>
                            </div>
                            <div class="tile">
                                <input class="day-checkbox" type="checkbox" name="days" id="wednesday" value="3">
                                <label for="wednesday">
                                    <img src="~/images/Weekdays/Wednesday.jpg" width="100" />
                                    <span>Wednesday</span>
                                </label>
                            </div>
                            <div class="tile">
                                <input class="day-checkbox" type="checkbox" name="days" id="thursday" value="4">
                                <label for="thursday">
                                    <img src="~/images/Weekdays/Thursday.jpg" width="100" />
                                    <span>Thursday</span>
                                </label>
                            </div>
                            <div class="tile">
                                <input class="day-checkbox" type="checkbox" name="days" id="friday" value="5">
                                <label for="friday">
                                    <img src="~/images/Weekdays/Friday.jpg" width="100" />
                                    <span>Friday</span>
                                </label>
                            </div>
                            <div class="tile">
                                <input class="day-checkbox" type="checkbox" name="days" id="saturday" value="6">
                                <label for="saturday">
                                    <img src="~/images/Weekdays/Saturday.jpg" width="100" />
                                    <span>Saturday</span>
                                </label>
                            </div>
                            <div class="tile">
                                <input class="day-checkbox" type="checkbox" name="days" id="sunday" value="7">
                                <label for="sunday">
                                    <img src="~/images/Weekdays/Sunday.jpg" width="100" />
                                    <span>Sunday</span>
                                </label>
                            </div>
                        </section>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="update-slot">Update slot</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade overflow-auto" id="deleteModal" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="font-weight-bold py-2">Start Time</p>
                    <div id="startTime"></div>
                    <p class="font-weight-bold py-2">End Time</p>
                    <div id="endTime"></div>
                    <p class="font-weight-bold py-2">Slot days</p>
                    <div id="daysList"></div>
                    <p class="font-weight-bold py-2">Are you sure you want to delete this slot?</p>
                    <form asp-controller="Admin" asp-action="StudySlotsDelete" method="post" id="delete-form">
                        <input type="hidden" id="slotId" name="slotId" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" form="delete-form">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="table-responsive m-b-40" style="font-weight:500">
        <table class="table table-borderless table-data3">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SlotId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Day)
                    </th>
                    @*<th>Action</th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model)
                    {
                        <tr data-item="@JsonConvert.SerializeObject(item)">
                            <td>
                                @Html.DisplayFor(modelItem => item.SlotId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                @foreach (var dayModel in item.Day)
                                {
                                    <div>@dayModel.Day</div>
                                }
                            </td>
                            <td>
                                    @*<button class="p-r-10 edit-button" style="font-size:1.5rem"><i class="fas fa-edit"></i></button>*@
                                    <button data-toggle="modal" data-target="#deleteModal" class="p-r-10 delete-button" style="font-size:1.5rem"><i class="fas fa-trash-alt"></i></button>
                                </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section TimePicker {
    <script src="~/js/TimePicker.js"></script>
    <script>
        $(document).ready(function () {
            $('.delete-button').click(function () {
                var row = $(this).closest('tr');
                var slotId = row.find('td:eq(0)').text().trim();
                var startTime = row.find('td:eq(1)').html();
                var endTime = row.find('td:eq(2)').html();
                var daysHtml = row.find('td:eq(3)').html();

                // Clear the days list in the modal
                $('#deleteModal').find('#daysList').empty();

                // Loop through each div element inside the daysHtml variable and append it to the days list in the modal
                $(daysHtml).each(function () {
                    var day = $(this).text();
                    $('#deleteModal').find('#daysList').append('<div>' + day + '</div>');
                });

                // Set the slot ID, start time, and end time in the modal
                $('#deleteModal').find('#slotId').val(slotId);
                $('#deleteModal').find('#startTime').html(startTime);
                $('#deleteModal').find('#endTime').html(endTime);
            });
        });
        //Edit button
        $('.edit-button').click(function () {
            var $row = $(this).closest('tr');
            var item = $row.data('item');
            var startTime = item.StartTime;
            var endTime = item.EndTime;
            var slotId = item.SlotId;

            // Fill the modal with initial values
            $('#updateModal').find('#start').val(startTime);
            $('#updateModal').find('#end').val(endTime);
            $('#updateModal').find('#slotId').val(slotId);

            var days = item.Day.map(function (dayModel) {
                return dayModel.DayId;
            });

            // Set the checked state of checkboxes
            $('.day-checkbox').each(function () {
                var dayValue = parseInt($(this).val());
                var isChecked = days.includes(dayValue);
                $(this).prop('checked', isChecked);
            });

            // Show the modal
            $('#updateModal').modal('show');
        });
    </script>

}

