@using View.Models.Response;
@using View.Models.Enum;
@model View.Models.PaginatedResult<UserDto>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<partial name="_Notification" />
<div class="row">
    <div class="col-md-12">
        <!-- WELCOME-->
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">
                            Manage Accounts
                        </h1>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">data table</h3>
        <!-- Filter/sort -->
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <!-- Role filter -->
                <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2 filter-select" id="roleIdSelect">
                        <option value="">All Roles</option>
                        @foreach (var role in Enum.GetValues(typeof(Role)))
                        {
                            <option value="@((int)role)">@role</option>
                        }
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <!-- Status filter -->
                <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2 filter-select" id="statusSelect">
                        <option value="">All Status</option>
                        <option value="False">Active</option>
                        <option value="True">Inactive</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <!-- Sort by name -->
                <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2 filter-select" id="sortByNameSelect">
                        <option value="">Sort by Name</option>
                        <option value="name">A-Z</option>
                        <option value="name_desc">Z-A</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <!-- Search -->
                <form method="get" class="search-form rs-select2--dark" asp-controller="Admin" asp-action="Users">
                    <div class="input-group">
                        <input class="au-input" type="text" name="searchKeyword" placeholder="Search by Name" />
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="table-data__tool-right">
                <a asp-action="Create" asp-controller="Admin" class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="zmdi zmdi-plus"></i>create new </a>
            </div>
        </div>
        <!-- End filter/sort -->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Items)
                    {
                        <tr class="tr-shadow">
                            <td>@user.FullName</td>
                            <td>
                                <span class="block-email">@user.Email</span>
                            </td>
                            <td class="desc">@user.Address</td>
                            <td>@user.Phone</td>
                            <td>
                                <span class="@(user.IsDisabled ? "status--denied" : "status--process")">
                                    @(user.IsDisabled ? "Inactive" : "Active")
                                </span>
                            </td>
                            <td>@Enum.GetName(typeof(Role), user.RoleId!)</td>
                            <td>
                                <div class="table-data-feature">
                                    <button class="item edit-user-btn" data-user='@Json.Serialize(user)' data-toggle="tooltip" data-placement="top" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                    <div class="dropdown">
                                        <button class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            @if (user.IsDisabled)
                                            {
                                                <button class="dropdown-item enable-user" data-user-id="@user.Uid" data-toggle="modal" data-target="#enableModal">
                                                    Enable User
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="dropdown-item disable-user" data-user-id="@user.Uid" data-toggle="modal" data-target="#disableModal">
                                                    Disable User
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- PAGING NAVIGATION -->
        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@(ViewBag.QueryString)&page=@(Model.Page - 1)">&lt</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Page ? "active" : "")">
                        <a class="page-link" href="@(ViewBag.QueryString)&page=@i">@i</a>
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@(ViewBag.QueryString)&page=@(Model.Page + 1)">&gt</a>
                    </li>
                }
            </ul>
        </nav>
        <!-- END PAGING NAVIGATION -->
    </div>
</div>

<!-- The Edit Modal -->
<div class="modal fade overflow-auto" id="editModal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="EditUser" method="post" id="edit-user-form">
                    <input type="hidden" name="uid" id="edit-uid" />
                    <div class="form-group">
                        <label for="edit-username">Username</label>
                        <input type="text" class="form-control" id="edit-username" name="username" readonly />
                    </div>
                    <div class="form-group">
                        <label for="edit-fullname">Full Name</label>
                        <input type="text" class="form-control" id="edit-fullname" name="fullname" />
                    </div>
                    <div class="form-group">
                        <label for="edit-address">Address</label>
                        <input type="text" class="form-control" id="edit-address" name="address" />
                    </div>
                    <div class="form-group">
                        <label for="edit-email">Email</label>
                        <input type="text" class="form-control" id="edit-email" name="email" readonly />
                    </div>
                    <div class="form-group">
                        <label for="edit-phone">Phone</label>
                        <input type="text" class="form-control" id="edit-phone" name="phone" />
                    </div>
                    <div class="form-group">
                        <label for="edit-role">Role</label>
                        <input type="text" class="form-control" id="edit-role" name="roleId" readonly />
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="edit-user-form">Save Changes</button>
            </div>

        </div>
    </div>
</div>
<!-- Disable modal -->
<div class="modal fade" id="disableModal" tabindex="-1" role="dialog" aria-labelledby="disableModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disableModalLabel">Disable User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="disable-user-form">
                    <input type="hidden" id="disable-user-id" name="userId" />
                    <div class="form-group">
                        <label for="disable-reason">Reason</label>
                        <input type="text" class="form-control" id="disable-reason" name="reason" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="disable-user-btn">Disable</button>
            </div>
        </div>
    </div>
</div>
<!-- Enable modal -->
<div class="modal fade" id="enableModal" tabindex="-1" role="dialog" aria-labelledby="enableModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enableModalLabel">Enable User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to enable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="enableUserBtn">Enable</button>
            </div>
        </div>
    </div>
</div>
<!-- End disable modal -->
@section Scripts{
<script>
    $(document).ready(function () {
        var searchKeywordParam = '@Context.Request.Query["searchKeyword"]';
        var roleIdParam = '@Context.Request.Query["roleId"]';
        var statusParam = '@Context.Request.Query["isDisabled"]';
        var sortParam = '@Context.Request.Query["sortBy"]';

        if (roleIdParam) {
            $('#roleIdSelect').val(roleIdParam).trigger('change');
        }

        if (statusParam) {
            $('#statusSelect').val(statusParam).trigger('change');
        }

        if (sortParam) {
            $('#sortByNameSelect').val(sortParam).trigger('change');
        }

        if (searchKeywordParam) {
            $('[name="searchKeyword"]').val(searchKeywordParam);
        }

        $('#roleIdSelect, #statusSelect, #sortByNameSelect').change(function () {
            applyFilters();
        });

        function applyFilters() {
            var roleId = $('#roleIdSelect').val();
            var status = $('#statusSelect').val();
            var sortBy = $('#sortByNameSelect').val();
            var searchKeyword = $('[name="searchKeyword"]').val();

            var url = '@Url.Action("Users", "Admin")';

            var params = [];
            if (roleId) {
                params.push('roleId=' + roleId);
            }
            if (status) {
                params.push('isDisabled=' + status);
            }
            if (sortBy) {
                params.push('sortBy=' + sortBy);
            }
            if (searchKeyword) {
                params.push('searchKeyword=' + encodeURIComponent(searchKeyword));
            }

            if (params.length > 0) {
                url += '?' + params.join('&');
            }

            window.location.href = url;
        }

        $('.disable-user').click(function () {
            var userId = $(this).data('user-id');
            $('#disable-user-id').val(userId);
            $('#disableModal').modal('show');
        });

        $('#disable-user-btn').click(function () {
            var userId = $('#disable-user-id').val();
            var reason = $('#disable-reason').val();
            disableUser(userId, reason);
        });

        function disableUser(userId, reason) {
            var form = $('<form>').attr({
                method: 'post',
                action: '/Admin/DisableUser',
                style: 'display: none;'
        });

            $('<input>').attr({
                type: 'hidden',
                name: 'userId',
                value: userId
            }).appendTo(form);

            $('<input>').attr({
                type: 'hidden',
                name: 'reason',
                value: reason
            }).appendTo(form);

            form.appendTo('body').submit();
        }

        $('.enable-user').click(function () {
        var userId = $(this).data('user-id');
        $('#enableUserBtn').attr('data-user-id', userId);
        });

        $('#enableUserBtn').click(function () {
        var userId = $(this).data('user-id');
        enableUser(userId);
        });

        function enableUser(userId) {
        var form = $('<form>').attr({
            method: 'post',
            action: '/Admin/EnableUser',
            style: 'display: none;'
        });

        $('<input>').attr({
            type: 'hidden',
            name: 'userId',
            value: userId
        }).appendTo(form);

        form.appendTo('body').submit();
        }

        function openEditModal(user) {
            console.log(user);
            $('#edit-uid').val(user.uid);
            $('#edit-username').val(user.userName);
            $('#edit-fullname').val(user.fullName);
            $('#edit-address').val(user.address);
            $('#edit-email').val(user.email);
            $('#edit-phone').val(user.phone);
            $('#edit-role').val(user.roleId);
            $('#editModal').modal('show');
        }

        function submitEditForm() {
            var form = $('#edit-user-form');
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (response) {
                    $('#editModal').modal('hide');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        $(document).on('click', '.edit-user-btn', function () {
            var user = $(this).data('user');
            openEditModal(user);
        });

        // Event listener for the form submission
        $('#edit-user-form').on('submit', function (event) {
            event.preventDefault();
            submitEditForm();
        });
    });
</script>
}