@using View.Models.Enum
@using View.Models.Response;
@model View.Models.Response.ClassDto

@{
    ViewData["Title"] = "StudyingClasssesById";
    var changeClassList = ViewBag.ChangeClassList as List<ClassDto>;
}

<partial name="_Notification" />
<!-- Img Section  -->
<div class="yg-img-section">
    <div class="row">
        <div class="col-md-12 col-sm-12"> <img src="@Model.Image" class="img-fluid animate-box" data-animate-effect="fadeInUp" alt=""> </div>
    </div>
</div>

<!-- About The Class -->
<div class="yg-description-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 animate-box" data-animate-effect="fadeInUp">
                <h1>About The Class</h1>
            </div>
            <div class="col-md-8 col-sm-12 animate-box" data-animate-effect="fadeInUp">
                <p>@Model.Description</p>
                <br />
                <!-- Trainer -->
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="yg-class-trainer"><img src="~/images/trainer/staff03.jpg" class="img-fluid" alt=""></div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="yg-class-trainer-content">
                            @if (Model.Lecturer != null)
                            {
                                <h3>
                                    <span>@Model.Lecturer.FullName</span> — <span>TRAINER</span>
                                </h3>
                            }
                            else
                            {
                                <h3>N/A — <span>LECTURER</span></h3>
                            }
                            <p>Proin ultricies nibh non dolor maximus sceleue. Integer molliser faubs neque nec tincidunte. Aliquam erat vol tempor malader. Aliquam erat volutpat. Praeser tempor maladi quam, nec rutre arcuornare sed. Duru egiter ligula at nibh viverra ultricies. Nunctionter ranish libero maximus aliquet.</p>
                            <span class="yg-social-icon ti-facebook"></span>
                            <span class="yg-social-icon ti-instagram"></span>
                            <span class="yg-social-icon ti-twitter"></span>
                        </div>
                    </div>
                </div>
                <div style="height:50px;"></div>
            
            </div>
            <!-- Class Details & Class Hours -->
            <div class="col-md-4 col-sm-12">
                <div class="yg-class-box animate-box" data-animate-effect="fadeInUp">
                    <h3>Class Details</h3>
                    <div class="yg-class-table">
                        <ul>
                            <li> <span class="yg-class-table-light-text"><i class="ti-tag"></i>Price</span> <span>@Model.Price.ToString("N0") VND</span> </li>
                            <li>
                                <span class="yg-class-table-light-text"><i class="ti-user"></i>Trainer</span>
                                @if (Model.Lecturer != null)
                                {
                                    <span>@Model.Lecturer.FullName</span>
                                }
                                else
                                {
                                    <span>N/A</span>
                                }
                            </li>
                            <li> <span class="yg-class-table-light-text"><i class="ti-user"></i>Members</span> <span>@Model.ClassCapacity</span> </li>
                            <li> <span class="yg-class-table-light-text"><i class="ti-calendar"></i>Start Date</span> <span>@Model.StartDate.ToString("MMMM dd, yyyy")</span> </li>
                        </ul>
                    </div>
                </div>
                <div class="yg-class-box animate-box" data-animate-effect="fadeInUp">
                    <h3>Class Hours</h3>
                    <div class="yg-class-table">
                        <ul>
                            @if (Model.Schedules != null)
                            {
                                @foreach (var schedule in Model.Schedules)
                                {
                                    foreach (var day in schedule.Slot.Day)
                                    {
                                        <li>
                                            <span class="yg-class-table-light-text">@((Days)day.DayId)</span>
                                            <span>@schedule.Slot.StartTime.ToString("hh\\:mm") - @schedule.Slot.EndTime.ToString("hh\\:mm")</span>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Testimonial Section -->
<div class="yg-testimonial-section-first">
    <div class="container yg-container-full">
        <div class="row yg-gutter-0">
            <div class="col-md-7 col-sm-12 animate-box" data-animate-effect="fadeInLeft">
                <div class=""> <img src="images/testimonial.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-md-5 col-sm-12 animate-box" data-animate-effect="fadeInRight">
                <div class="yg-text-block yg-text-block-h700">
                    <div class="yg-text-block-center yg-text-block-w60">
                        <div class="yg-testimonial-section-first-title">"Great teacher, great environment, great energy. Awesome specials for new yogis."</div>
                        <div class="yg-testimonial-section-first-subtitle">— Lee Buoy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

